<div id="<%= dom_id insuarance %>">
  <p>
    <strong>First name:</strong>
    <%= insuarance.first_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= insuarance.address %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= insuarance.last_name %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= insuarance.postal_code %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= insuarance.email %>
  </p>

  <p>
    <strong>City:</strong>
    <%= insuarance.city %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= insuarance.phone %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= insuarance.province %>
  </p>

  <p>
    <strong>Municipla evaluation of property:</strong>
    <%= insuarance.municipla_evaluation_of_property %>
  </p>

  <p>
    <strong>Insuarance premium:</strong>
    <%= insuarance.insuarance_premium %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= insuarance.language %>
  </p>

  <p>
    <strong>Second home owner:</strong>
    <%= insuarance.second_home_owner %>
  </p>

  <p>
    <strong>Third home owner:</strong>
    <%= insuarance.third_home_owner %>
  </p>

  <p>
    <strong>Type of property:</strong>
    <%= insuarance.type_of_property %>
  </p>

  <p>
    <strong>Present owner:</strong>
    <%= insuarance.present_owner %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= insuarance.purchase_date %>
  </p>

  <p>
    <strong>Lot number:</strong>
    <%= insuarance.lot_number %>
  </p>

  <p>
    <strong>Bound by water:</strong>
    <%= insuarance.bound_by_water %>
  </p>

  <p>
    <strong>Ensure municipal water sewer:</strong>
    <%= insuarance.ensure_municipal_water_sewer %>
  </p>

  <p>
    <strong>Ensure property:</strong>
    <%= insuarance.ensure_property %>
  </p>

  <p>
    <strong>Client knowledge:</strong>
    <%= insuarance.client_knowledge %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= insuarance.note %>
  </p>

  <p>
    <strong>Referral agent name:</strong>
    <%= insuarance.referral_agent_name %>
  </p>

  <p>
    <strong>Referral agent email:</strong>
    <%= insuarance.referral_agent_email %>
  </p>

</div>
